@media all and (min-width: 768px) {
	.show-in-mobile,
	.show-on-mobile {
		display: none !important;
	}
	.events-section:not(.first-items-wide) .event-item:nth-child(3n) .event-item-a {
		border-left: none;
	}
	.events-section.first-items-wide .event-item:nth-child(3n+2) .event-item-a {
		border-left: none;
	}
	.resize-header #page-header {
		position: absolute;
	}
}
@media all and (min-width: 992px) {
	.show-in-tablet,
	.show-on-tablet {
		display: none !important;
	}
	.event-item-a,
	.pager-prev,
	.pager-next,
	.wpcf7-submit,
	.main-title-wrap .mobile-header-tickets-btn,
	.y-btn,
	.tran02,
	.tran02 svg,
	.tran02 path,
	.tran02::before,
	.tran02::after {
		-webkit-transition: all 0.2s ease;
		transition: all 0.2s ease;
	}
	.tran04,
	.tran04 svg,
	.tran04 path,
	.tran04::before,
	.tran04::after {
		-webkit-transition: all 0.4s ease;
		transition: all 0.4s ease;
	}
	.floating-contact-btn-link:hover {
		background: #fff;
	}
	.footer-menu a:hover {
		background: #8FCCC8;
	}
	.header-links-menu-whatsapp-a:hover,
	.header-links-menu-lang-li:hover,
	#top-search-btn:hover,
	#page-nav a:hover {
		background: #F0F7F7;
		color: #404040 !important;
	}
	.close-top-search:hover {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	input[type="submit"].top-search-submit:hover {
		background-color: #55E1DA;
	}
	.wpcf7-submit:hover,
	.y-btn:hover {
		background: #fff;
		gap: 14px;
	}
	.y-btn.bg-green:hover {
		background: #74C2BE;
	}
	.y-btn.bg-yellow:hover {
		background: #FFD600;
	}
	.events-and-categories-section.focus {
		width: -webkit-calc(100% + 240px);
		width: calc(100% + 240px);
	}
	.events-and-categories-section.focus .categories-wrap {
		width: -webkit-calc(58% + 120px);
		width: calc(58% + 120px);
	}
	.events-and-categories-section.focus .events-swiper-wrap {
		width: -webkit-calc(42% - 120px);
		width: calc(42% - 120px);
	}
	.category-item-btn[aria-expanded="true"] {
		min-height: 60vh;
		padding: 32px;
	}
	.category-item-btn[aria-expanded="true"] .category-item-text-wrap {
		gap: 10px;
		padding: 0 32px 0 0;
		width: -webkit-calc(100% - 40vh);
		width: calc(100% - 40vh);
	}
	.category-item:last-child .category-item-btn[aria-expanded="true"] .category-item-text-wrap {
		width: 50%;
		padding: 0 0 0 32px;
	}
	.category-item-btn[aria-expanded="true"] .category-item-img-wrap {
		width: 30.7vw;
		height: 30.7vw;
	}
	.events-and-categories-section.focus .category-item-btn[aria-expanded="false"] .category-item-img-wrap {
		min-height: 13.333vh;
		height: 100%;
	}
	.category-item-btn[aria-expanded="true"] .category-item-small-title {
		color: #fff !important;
	}
	.category-item-btn[aria-expanded="true"] .category-item-title {
		border-top: 2px solid rgba(255, 255, 255, 0.3);
		border-bottom: 2px solid rgba(255, 255, 255, 0.3);
		padding: 18px 0 23px 0;
	}
	.category-item-btn[aria-expanded="true"] .category-item-title span {
		font-size: 48px;
		color: #fff;
	}
	.category-item-btn[aria-expanded="true"] .category-item-date {
		margin: 20px 0 0 0;
		color: #fff;
	}
	.category-item-btn[aria-expanded="true"] .category-item-text-hover {
		filter: alpha(opacity=100);
		opacity: 1;
		-khtml-opacity: 1;
		visibility: visible;
		margin: 10px 0 0 0;
	}
	.category-item:not(:last-child) .category-item-btn[aria-expanded="false"] {
		background: none !important;
	}
	.exhibition-item:focus .exhibition-item-content .y-btn,
	.exhibition-item:hover .exhibition-item-content .y-btn {
		filter: alpha(opacity=100);
		opacity: 1;
		-khtml-opacity: 1;
	}
	.exhibition-item:not(:hover):not(:focus) .exhibition-item-content {
		background: none !important;
	}
	.exhibition-item:focus .exhibition-item-content,
	.exhibition-item:hover .exhibition-item-content,
	.exhibition-item:focus .exhibition-item-small-title,
	.exhibition-item:hover .exhibition-item-small-title {
		color: #fff !important;
	}
	.main-title-wrap .mobile-header-tickets-btn:hover {
		width: 152px;
		height: 152px;
		font-size: 20px;
		padding: 30px;
	}
	.boxes-list {
		flex-wrap: wrap;
	}
	.box-item-text-hover {
		max-height: 0;
		clear: both;
		font-size: 20px;
		line-height: 1.3;
		color: #fff;
		font-weight: 400;
		overflow: hidden;
		filter: alpha(opacity=0);
		opacity: 0;
		-khtml-opacity: 0;
		visibility: hidden;
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	.box-item-title,
	.box-item-content,
	.box-item-img,
	.box-item {
		-webkit-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
	.box-item.focus {
		width: 65.6%;
	}
	.box-item.focus-small {
		width: 17.2%;
	}
	.box-item.focus .box-item-a {
		padding: 32px;
		padding-right: -webkit-calc(50.2% + 64px);
		padding-right: calc(50.2% + 64px);
		color: #fff;
	}
	.box-item.focus .box-item-img {
		width: 50.2%;
		height: 18.2vw;
		max-height: -webkit-calc(100% - 64px);
		max-height: calc(100% - 64px);
		top: 32px;
		right: 32px;
	}
	.box-item.focus .box-item-title {
		width: 100%;
		padding: 20px 0 25px 0;
		border-top: 2px solid rgba(255, 255, 255, 0.3);
		border-bottom: 2px solid rgba(255, 255, 255, 0.3);
		text-align: right;
		margin: 0 0 24px 0;
		color: #fff;
	}
	.box-item.focus .box-item-content {
		padding: 0;
	}
	.box-item.focus .box-item-text-hover {
		visibility: visible;
		filter: alpha(opacity=100);
		opacity: 1;
		-khtml-opacity: 1;
		max-height: 400px;
		-webkit-transition: all 0.8s ease;
		transition: all 0.8s ease;
	}
	.box-item-title {
        float: left;
		width: -webkit-calc(33.333vw - 119px);
		width: calc(33.333vw - 119px);
		color: #404040;
		position: relative;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
	}
	.event-item-a:hover {
		background: #74C2BE;
	}
	.btn-past-ex-year:not(.active):hover {
		background: #74C2BE;
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	.past-ex-item-a:hover,
	.pager-prev:hover,
	.pager-next:hover {
		background-color: #74C2BE;
	}
	.q-ul > li .q-btn:hover {
		background-color: #E6F2F2;
	}
	.q-ul > li .q-btn:hover .q-plus-minus {
		background-color: #74C2BE;
	}
	.article-item-a:focus .article-item-text-wrap,
	.article-item-a:hover .article-item-text-wrap {
		filter: alpha(opacity=100);
		opacity: 1;
		-khtml-opacity: 1;
		visibility: visible;
	}
	.pager-current:hover {
		border-color: #74C2BE;
	}
	.price-list tr:not(.separator):hover {
		background: #F2F9F9;
	}
	.top-search-results-posts a:hover {
		color: #0098B1;
	}
	.dooble:hover,
	.footer-center-text a:hover,
	.cds-col a:not(.y-btn):hover,
	.header-links-menu-lang-li a:hover {
		text-decoration: underline;
	}
}
@media all and (max-width: 1440px) {
	.footer-center {
		width: -webkit-calc(55% - 120px);
		width: calc(55% - 120px);
		padding: 32px;
	}
	.footer-menu {
		width: -webkit-calc(45% - 120px);
		width: calc(45% - 120px);
	}
	.footer-center-title {
		font-size: 48px;
	}
	.newsletter-register-thanks-msg,
	#footer-register-form .submit-btn-wrap,
	#footer-register-form .wpcf7-form-control.wpcf7-checkbox,
	#footer-register-form .wpcf7-not-valid-tip,
	#footer-register-form label.error, 
	.footer-register-text {
		padding: 0 24px;
	}
	.event-swiper-item-title {
		font-size: 48px;
	}
	.category-item-title {
		font-size: 26px;
	}
	.articles-section-title,
	.content-section-title {
		font-size: 40px;
	}
	.articles-section-img,
	.content-section-img {
		width: 62%;
	}
	.article-item-title {
		font-size: 26px;
	}
	.article-item-text-wrap {
		padding: 16px;
		font-size: 18px;
	}
	.article-item-content {
		padding: 16px;
	}
	.article-item-text-wrap .y-btn {
		margin: 16px 0 0 0;
	}
	.logos-list li {
		width: -webkit-calc(16.666% - 17px);
		width: calc(16.666% - 17px);
		flex: unset;
	}
	.main-title {
		font-size: 50px;
	}
	.now-in-museum-title {
		font-size: 38px;
	}
	.now-in-museum-subtitle {
		font-size: 18px;
	}
	.exhibition-item-title {
		font-size: 3.2vw;
	}
	.past-ex-item-content,
	.event-item-content {
		gap: 12px;
	}
	.past-ex-item-title,
	.event-item-title {
		font-size: 26px;
	}
	.event-item-date {
		font-weight: 600;
	}
	.top-content-title {
		font-size: 5.8vw;
	}
	.top-content-text {
		font-size: 2.3vw;
	}
}
@media all and (min-width: 992px) and (max-width: 1399px) {
	.category-item-btn:focus .category-item-title span,
	.category-item-btn:hover .category-item-title span {
		font-size: 42px;
	}
	.box-item-title {
		font-size: 26px;
	}
	.box-item.focus .box-item-title {
		padding: 16px 0;
		margin: 0 0 16px 0;
	}
	.box-item-text-hover {
		font-size: 18px;
	}
	.box-item-content .y-btn {
		margin: 16px 0 0 0;
	}
}
@media all and (min-width: 992px) and (max-width: 1280px) {
	.box-item.focus .box-item-a {
        padding: 16px;
        padding-right: -webkit-calc(42% + 32px);
        padding-right: calc(42% + 32px);
    }
	.box-item.focus .box-item-img {
        width: 42%;
        height: 15vw;
		top: 16px;
		right: 16px;
	}
}
@media all and (min-width: 992px) and (max-width: 1200px) {
	.category-item:last-child .category-item-btn:focus,
	.category-item:last-child .category-item-btn:hover,
	.category-item-btn:focus,
	.category-item-btn:hover {
		padding: 16px 16px 57vw;
		-webkit-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
	.category-item-btn:last-child:focus .category-item-img-wrap,
	.category-item-btn:last-child:hover .category-item-img-wrap,
	.category-item-btn:focus .category-item-img-wrap,
	.category-item-btn:hover .category-item-img-wrap {
		width: auto !important;
		max-width: 100%;
		height: 57vw;
		right: 16px;
		left: 16px;
		bottom: 16px;
	}
	.category-item:last-child .category-item-btn:focus .category-item-text-wrap,
	.category-item:last-child .category-item-btn:hover .category-item-text-wrap,
	.category-item-btn:focus .category-item-text-wrap,
	.category-item-btn:hover .category-item-text-wrap {
		width: 100%;
		gap: 16px;
		padding: 0 0 32px 0;
	}
	.category-item-btn:focus .category-item-title,
	.category-item-btn:hover .category-item-title {
		padding: 18px 0;
		text-align: center;
	}
	.category-item-btn:focus .category-item-title span,
	.category-item-btn:hover .category-item-title span {
		font-size: 32px;
	}
	.category-item-btn:focus .category-item-small-title,
	.category-item-btn:hover .category-item-small-title {
		text-align: center;
	}
}
@media all and (max-width: 1200px) {
	#footer-register-form .wpcf7-form-control-wrap {
		width: 33.333%;
		flex: unset;
	}
	#footer-register-form .wpcf7-form-control {
		border-bottom: none !important;
	}
	#footer-register-form .wpcf7-form-control-wrap:nth-last-child(2),
	#footer-register-form .submit-btn-wrap {
		width: 100%;
		justify-content: flex-start;
	}
	.categories-wrap {
		min-height: 43vw;
	}
	.category-item-text-wrap {
		width: 100%;
		padding: 16px;
	}
	.category-item-title span {
		font-size: 24px;
		line-height: 0.9;
		letter-spacing: 0;
	}
	.event-swiper-item-title {
        font-size: 38px;
    }
	.category-item-text-hover {
		gap: 16px;
		width: 100%;
	}
	.category-item:last-child .category-item-small-title {
		font-size: 24px;
	}
	.category-item-btn {
		position: relative;
		padding: 0 33.2% 0 0;
	}
	.category-item:last-child .category-item-btn {
		flex-direction: row;
		padding: 0;
	}
	.category-item-img-wrap {
		width: auto;
		height: 100%;
		position: absolute;
		right: 0;
		bottom: 0;
		left: 66.8%;
	}
	.category-item:last-child .category-item-img-wrap {
		width: auto;
		max-width: 100%;
		right: 33.2%;
		left: 0;
	}
	.category-item:last-child .category-item-text-wrap {
		width: 33.2%;
	}
	.events-swiper {
		height: auto;
	}
	.event-swiper-item-a {
		padding: 24px;
	}
	.main-title-wrap {
		padding-right: 32px;
		text-align: right;
		justify-content: flex-start;
	}
	.main-title {
		font-size: 42px;
	}
	.now-in-museum-img.desktop-img {
		display: none;
	}
	.now-in-museum-img.small-img {
		display: block;
	}
	.now-in-museum-content {
		padding: 16px;
	}
	.now-in-museum-title {
		font-size: 32px;
	}
	.exhibition-item-content {
		padding: 16px;
	}
	.past-ex-item-title,
	.event-item-title {
        font-size: 22px;
    }
	.past-ex-item-title2 {
		font-size: 18px;
    }
	.event-item-date {
        font-weight: 500;
		font-size: 18px;
    }
	.exhibitions-details-side {
		padding: 24px;
    }
	.gallery-swiper-section .event-swiper-item-img-wrap {
		height: 45vw;
	}
	.top-content-text {
		font-size: 26px;
		line-height: 1.3;
	}
	.text-section-logos > li {
		min-width: -webkit-calc(16.666% - 17px);
		min-width: calc(16.666% - 17px);
		flex: 1;
	}
	.contact-details-section {
		flex-wrap: wrap;
	}
	.cds-col.contact-details-column {
		width: 100%;
	}
	.cds-col.openning-hours-column,
	.cds-col.special-hours-column {
		width: 50%;
		max-width: none;
		border-top: 2px solid #74C2BE;
	}
	.cds-col.openning-hours-column {
		border-right: none;
	}
	.bbr-img {
		max-width: -webkit-calc(100% - 310px);
		max-width: calc(100% - 310px);
	}
	.bbr-text {
		padding: 0 24px 0 0;
	}
	.bbr-title {
		font-size: 38px;
		letter-spacing: 0;
	}
	.box-item {
		height: -webkit-calc(18.3vw + 60px);
		height: calc(18.3vw + 60px);
	}
	.box-item-title {
        font-size: 22px;
    }
	.box-item-text-hover {
        font-size: 16px;
    }
	.price-list-y-btn-wrap,
	.price-list .price-item-name {
		padding-right: 0;
	}
	.price-list-bottom-list-wrap {
		padding-right: 0;
		padding-left: 0;
	}
	.event-swiper-item-img-wrap {
		max-height: -webkit-calc(50vw - 168px);
		max-height: calc(50vw - 168px);
	}
}
@media all and (max-width: 1024px) {
	.top-search-results-list > li {
		padding: 24px;
	}
	.articles-section-title,
	.content-section-title {
        font-size: 32px;
    }
	.article-item-title {
        font-size: 20px;
    }
	.article-item-text-wrap {
        font-size: 16px;
    }
	.exhibitions-details-side-wrap {
		width: 330px;
		font-size: 18px;
    }
	.exhibitions-details-side {
		padding: 24px;
    }
	.exhibitions-details-text {
		padding: 24px;
		font-size: 22px;
	}
	.top-content-section {
		padding: 44px 0;
	}
	.top-content-text {
		margin-top: 44px;
	}
	.paragraph-style {
		padding: 0 32px 0 0;
		font-size: 32px;
	}
	.text-section-youtube {
		height: 40.4vw;
	}
	.faq-inner-address-wrap {
		padding-right: 32px;
	}
}
@media all and (max-width: 991px) {
	.hide-in-tablet,
	.hide-on-tablet {
		display: none !important;
	}
	.footer-center {
		width: -webkit-calc(100% - 240px);
		width: calc(100% - 240px);
	}
	.footer-menu {
		width: 100%;
	}
	.footer-logos-wrap {
		width: 155px;
		padding: 24px;
	}
	.footer-center-title {
		font-size: 24px;
	}
	.footer-menu a,
	.footer-center-text {
		font-size: 18px;
	}
	.footer-center {
		padding: 24px;
	}
	#footer-register-form .wpcf7-form-control-wrap {
		width: 100%;
	}
	.newsletter-register-thanks-msg,
	#footer-register-form .submit-btn-wrap,
	#footer-register-form .wpcf7-form-control.wpcf7-checkbox,
	#footer-register-form .wpcf7-not-valid-tip,
	#footer-register-form label.error,
	.footer-register-text {
		padding: 0 16px;
	}
	.footer-register-text {
		flex-direction: column;
		padding: 7px 16px 14px;
		gap: 10px;
	}
	.footer-reg-txt-inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: 3px;
	}
	.footer-reg-txt1 {
		font-size: 18px;
		line-height: 1.15;
	}
	.top-search-form {
		padding: 24px 24px 24px 73px;
	}
	.close-top-search {
		left: 16px;
	}
	input[type="submit"].top-search-submit {
		width: 68px;
		height: 68px;
	}
	.events-and-categories-section {
		flex-direction: column;
	}
	.categories-wrap,
	.events-swiper-wrap {
		width: 100%;
	}
	.categories-wrap {
        min-height: 58vw;
    }
	.category-item.active .category-item-btn {
		min-height: 519px;
		padding: 32px;
		color: #fff;
	}
	.category-item.active .category-item-btn .category-item-text-wrap {
		gap: 32px;
		padding: 0 32px 0 0;
	}
	.category-item.active:last-child .category-item-btn .category-item-text-wrap {
		padding: 0 0 0 32px;
	}
	.category-item.active .category-item-btn .category-item-small-title {
		color: #fff !important;
		text-align: center;
	}
	.category-item:last-child.active .category-item-small-title,
	.category-item.active .category-item-btn .category-item-title {
		border-top: 2px solid rgba(255, 255, 255, 0.3);
		border-bottom: 2px solid rgba(255, 255, 255, 0.3);
		padding: 32px 0;
		text-align: center;
		font-size: 32px;
	}
	.category-item.active:last-child .category-item-btn .category-item-text-wrap,
	.category-item.active .category-item-btn .category-item-text-wrap {
		width: 100%;
		gap: 16px;
		padding: 0 0 32px 0;
		border-bottom: none;
	}
	.category-item:last-child.active .category-item-small-title {
		margin: 33px 0 0 0;
	}
	.category-item.active .category-item-date {
		margin: 20px 0 0 0;
	}
	.category-item.active .category-item-btn .category-item-text-hover {
		max-height: 450px;
		filter: alpha(opacity=100);
		opacity: 1;
		-khtml-opacity: 1;
		visibility: visible;
		margin: 10px 0 0 0;
		-webkit-transition: all 0.8s linear;
		transition: all 0.8s linear;
	}
	.category-item:not(:last-child):not(.active) .category-item-btn {
		background: none !important;
	}
	.category-item.active:last-child .category-item-btn,
	.category-item.active .category-item-btn {
		min-height: 1px;
		padding: 16px 16px calc(57vw + 16px);
		-webkit-transition: all 0.2s ease;
		transition: all 0.2s ease;
	}
	.category-item.active .category-item-btn .category-item-img-wrap {
		max-width: 100%;
		height: 57vw;
		max-height: none;
		right: 16px;
		left: 16px;
		bottom: 16px;
	}
	.category-item.active .close-category-btn {
		filter: alpha(opacity=100);
		opacity: 1;
		-khtml-opacity: 1;
		visibility: visible;
	}
	.top-search-results-category-title {
		font-size: 28px;
	}
	.top-search-results-posts {
		font-size: 18px;
	}
	.articles-section-title,
	.content-section-title {
		font-size: 38px;
	}
	.articles-content {
		flex-direction: column;
		padding: 24px 24px 48px;
	}
	.content-section {
		flex-direction: column-reverse;
		padding: 24px 24px 48px;
	}
	.articles-section-img,
	.content-section-img {
		width: 100%;
	}
	.articles-list {
		flex-direction: column;
	}
	.articles-list > li {
		width: 100%;
	}
	.article-item-img-wrap {
		height: 44vw;
	}
	.logos-list li {
		width: -webkit-calc(20% - 16px);
		width: calc(20% - 16px);
	}
	.main-title-wrap {
		padding: 16px 22px 16px 134px;
	}
	.main-title {
        font-size: 38px;
		letter-spacing: -0.76px;
    }
	.now-in-museum-section {
		flex-direction: column-reverse;
	}
	.now-in-museum-content {
		background: none;
		display: flex;
		width: 100%;
		min-height: 112px;
		align-items: flex-start;
		gap: 24px;
		padding: 24px;
	}
	.now-in-museum-subtitle {
		margin: 4px 0 0 0;
		font-size: 24px;
		line-height: 0.9;
	}
	.now-in-museum-content .y-btn {
		background: #E6F2F2;
		width: 40px;
		height: 40px;
		padding: 0;
		border-radius: 50%;
		flex-shrink: 0;
	}
	.now-in-museum-img-wrap {
		width: 100%;
		height: 46vw;
	}
	.exhibition-item {
		flex-direction: column;
		border-top: none;
		border-bottom: 2px solid #74C2BE;
	}
	.exhibition-item-img-wrap {
		width: 100%;
	}
	.exhibition-item-content {
		width: 100%;
	}
	.exhibition-item-img-wrap {
		height: 50vw;
	}
	.exhibition-item-content {
		background: none !important;
		text-align: center;
	}
	.wpcf7-submit,
	.y-btn {
		background: #fff;
	}
	.y-btn.bg-green {
		background: #74C2BE;
		border-color: #74C2BE;
	}
	.yellow-msg {
		padding: 24px;
		text-align: right;
	}
	.box-item {
		width: 328px;
		height: auto;
	}
	.box-item-a {
		background: none !important;
		border-bottom: none;
	}
	.box-item:last-child .box-item-a {
		border-left: none;
	}
	.section-title {
		padding-right: 24px;
		padding-left: 24px;
		font-size: 40px;
	}
	.events-section .section-title2,
	.section-title2 {
		min-height: 110px;
	}
	.past-ex-item-title,
	.event-item-title {
        font-size: 20px;
    }
	.events-section.wide-on-tablet .event-item-title {
        font-size: 32px;
		line-height: 0.9;
		letter-spacing: -0.64px;
		text-align: center;
    }
	.events-section.wide-on-tablet .event-item-content {
		min-height: 138px;
		align-items: center;
		gap: 0;
	}
	.events-section.wide-on-tablet .event-item-a {
		border-left: none;
	}
	.event-item:not(:first-child) .event-item-a {
		border-top: 2px solid #74C2BE;
	}
	.events-section.wide-on-tablet .event-item-date {
		font-size: 20px;
		font-weight: 700;
		line-height: 1.3;
	}
	.past-ex-item-title2 {
        font-size: 16px;
    }
	.event-item-date {
        font-weight: 400;
    }
	.event-item-bottom-msg {
		min-height: 40px;
		font-size: 14px;
	}
	.events-section.first-items-wide .event-item:not(:nth-child(1)):not(:nth-child(2)) .event-item-title {
		letter-spacing: -0.4px;
	}
	.articles2-section .item-tag,
	.events-section.first-items-wide .event-item:not(:nth-child(1)):not(:nth-child(2)) .item-tag,
	.events-section:not(.first-items-wide):not(.wide-on-tablet) .item-tag {
		min-height: 20px;
		padding: 2px 6px;
		font-size: 14px;
		letter-spacing: 0.28px;
	}
	.exhibitions-details-section {
		flex-direction: column-reverse;
	}
	.exhibitions-details-side-wrap {
		width: 100%;
	}
	.exhibitions-details-text {
		width: 100%;
		border-right: none;
	}
	.text-section {
		padding: 24px 0 48px 0;
		font-size: 22px;
	}
	.wide-on-tablet .event-item {
		width: 100%;
	}
	.wide-on-tablet .event-item-img-wrap {
        height: 52vw;
    }
	.articles2-section .articles-list {
		flex-direction: row;
		flex-wrap: wrap;
	}
	.past-ex-item,
	.articles2-section .articles-list > li {
		width: 50%;
	}
	.articles2-section .article-item-a {
		border-bottom: none;
	}
	.articles2-section .articles-list > li:nth-child(even) .article-item-a {
		border-left: none;
	}
	.articles2-section .article-item-img-wrap {
		height: 24vw;
	}
	.past-ex-item-img-wrap {
		height: 23vw;
	}
	.top-content-section {
		padding: 22px 0;
	}
	.top-content-text {
		margin-top: 32px;
	}
	.top-content-text {
		font-size: 22px;
	}
	.paragraph-style-wrap {
		margin: 42px 0 39px 0;
		padding: 18px 0 14px 0;
		border-top: 2px solid #74C2BE;
		border-bottom: 2px solid #74C2BE;
	}
	.text-section h2,
	.text-section h3,
	.text-section h4 {
		margin: 48px 0 24px 0;
		font-size: 32px;
	}
	.paragraph-style-wrap h2,
	.paragraph-style-wrap h3,
	.paragraph-style-wrap h4 {
		margin: 0 0 24px 0;
	}
	.paragraph-style::before {
		display: none;
	}
	.paragraph-style {
		padding: 0;
		font-size: 24px;
	}
	.text-section iframe {
		margin: 0 0 35px 0;
	}
	.staff-item {
		padding: 24px 24px 48px;
		gap: 24px;
		font-size: 18px;
	}
	.staff-item-title {
		font-size: 32px;
	}
	.staff-item-subtitle {
		font-size: 24px;
	}
	.text-section-logos > li {
		min-width: -webkit-calc(20% - 16px);
		min-width: calc(20% - 16px);
	}
	.faq-inner-address-wrap {
		flex-direction: column-reverse;
	}
	.faq-inner-address {
		width: 100%;
	}
	.faq-inner-map {
		width: 100%;
		min-height: 250px;
	}
	.q-btn-title {
		font-size: 26px;
	}
	.price-list-bottom-list-wrap {
		padding-top: 32px;
	}
	.cds-col.openning-hours-column,
	.cds-col.special-hours-column {
		width: 100%;
		border-right: none;
	}
	.cds-col-text ~ .cds-col-text {
		border-top: none;
		padding-top: 0;
		padding-bottom: 16px;
	}
	.banner-between-rows {
		padding: 21px 24px;
		flex-direction: column-reverse;
	}
	.bbr-img {
		width: 100%;
		max-width: 100%;
	}
	.bbr-text {
		width: 100%;
		padding: 0 0 24px 0;
	}
	.socials-list a {
		width: 28px;
		height: 28px;
	}
	.category-item:first-child .category-item-btn {
		border-top: 2px solid #74C2BE;
	}
	.category-item-btn {
		min-height: 120px;
	}
	.categories-wrap {
		min-height: 120px;
		border-right: none;
    }
	.footer-menu > li:last-child > a {
		border-bottom: none;
	}
	.exhibition-item-title {
        font-size: 32px;
        letter-spacing: -0.64px;
    }
	.text-section-youtube {
		height: 35.2vw;
	}
}
@media all and (max-width: 782px) {
	#wp-admin-bar-wpseo-menu,
	#wp-admin-bar-my-account {
		overflow: hidden;
	}
	.box-item-a {
		padding: 16px 15px 32px;
	}
	.box-item-img {
		width: 100%;
		height: 197px;
		position: static;
	}
	.box-item-content {
		padding: 0;
	}
	.box-item-title {
		font-size: 24px;
		border-bottom: 2px solid #E6F2F2;
		padding: 16px 0 24px 0;
	}
	.box-item-text-hover {
		font-size: 18px;
		line-height: 1.15;
		font-weight: 400;
		margin: 19px 0 0 0;
	}
	.box-item-text-hover .y-btn {
		background: #74C2BE;
	}
}
@media all and (max-width: 767px) {
	.y-btn {
		min-height: 33px;
		font-size: 14px;
	}
	.hide-in-mobile,
	.hide-on-mobile {
		display: none !important;
	}
	.top-search-results-category-title {
		font-size: 24px;
	}
	.top-search-field {
		height: 48px;
		font-size: 22px;
	}
	.top-search-results-list > li {
        padding: 16px;
    }
	.close-top-search {
		top: 22px;
	}
	.close-top-search svg {
		width: 16px;
		height: 16px;
	}
	.top-search-form.go .top-search-field {
		width: -webkit-calc(100% - 68px);
		width: calc(100% - 68px);
	}
	.top-search-form {
		padding: 16px 16px 16px 65px;
	}
	input[type="submit"].top-search-submit {
        width: 53px;
        height: 53px;
    }
	.header-tel-aviv-university-a {
		margin-bottom: 88px;
	}
	#page-header {
		width: 360px;
		filter: alpha(opacity=0);
		opacity: 0;
		-khtml-opacity: 0;
		visibility: hidden;
		-webkit-transform: translate(100%, 0);
		transform: translate(100%, 0);
		-webkit-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
	.mobile-menu-is-open #page-header {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
		filter: alpha(opacity=100);
		opacity: 1;
		-khtml-opacity: 1;
		visibility: visible;
	}
	#page-nav a {
		font-size: 18px;
	}
	#page-main {
		padding: 0;
	}
	#page-footer {
		width: 100%;
		margin: 0 0 56px 0;
	}
	.footer-logos-wrap {
		border-left: none;
	}
	.footer-center {
		padding-right: 8px;
		padding-top: 21px;
	}
	.footer-logos-wrap {
        width: 153px;
		gap: 10px;
    }
	.top-search-results-posts {
        font-size: 16px;
    }
	.content-section {
		gap: 22px;
	}
	.content-section-small-title {
		font-size: 15px;
		letter-spacing: 0.75px;
		margin: 0 0 10px 0;
	}
	.content-section-title {
        font-size: 32px;
		letter-spacing: -0.64px;
		line-height: 0.9;
		margin: 0 0 12px 0;
    }
	.articles-section-title {
        font-size: 32px;
		margin: 0 0 13px 0;
		letter-spacing: -0.64px;
	}
	.articles-section-text,
	.content-section-text {
		font-size: 18px;
		line-height: 1.15;
	}
	.content-section-inner .y-btn,
	.articles-content-inner .y-btn {
		margin: 18px 0 0 0;
	}
	.logos-section {
		padding: 16px 16px 32px;
	}
	.logos-list {
		gap: 13px 20px;
	}
	.logos-item-img {
		max-height: 55px;
	}
	.events-swiper {
		height: -webkit-calc(100vh - 130px);
		height: calc(100vh - 130px);
	}
	.category-item:last-child .category-item-small-title {
		letter-spacing: 0;
		line-height: 0.9;
	}
	.categories-wrap {
        min-height: 108vw;
    }
	.main-title-wrap {
		min-height: 69px;
		padding: 16px;
		justify-content: center;
		text-align: center;
		z-index: 0;
	}
	.now-in-museum-img-wrap {
		height: 66.7vw;
	}
	.exhibition-item-img-wrap {
        height: 67vw;
    }
	.yellow-msg {
		padding: 13px 16px;
		font-size: 18px;
		line-height: 1.15;
		letter-spacing: -0.09px;
	}
	.section-title {
		min-height: 78px;
		padding-right: 16px;
		padding-left: 16px;
		font-size: 32px;
		letter-spacing: -0.64px;
	}
	.section-title2 {
		min-height: 74px;
		padding-top: 24px;
	}
	.events-section .section-title2 {
		min-height: 66px;
		padding-top: 16px;
	}
	.more-btn-wrap {
		padding: 24px 0 48px 0;
	}
	.event-item-bottom-msg {
		justify-content: center;
		text-align: center;
	}	
	.event-item {
		width: 50%;
	}
	.first-items-wide .event-item:nth-child(1),
	.first-items-wide .event-item:nth-child(2) {
		width: 100%;
	}
	.first-items-wide .event-item:nth-child(1) .event-item-a,
	.first-items-wide .event-item:nth-child(2n) .event-item-a {
		border-left: none;
	}
	.first-items-wide .event-item:nth-child(1) .event-item-title,
	.first-items-wide .event-item:nth-child(2) .event-item-title {
		font-size: 32px;
	}
	.first-items-wide .event-item:nth-child(1) .event-item-date,
	.first-items-wide .event-item:nth-child(2) .event-item-date {
		font-weight: 700;
		font-size: 20px;
	}
	.first-items-wide .event-item:nth-child(1) .event-item-content,
	.first-items-wide .event-item:nth-child(2) .event-item-content {
		gap: 5px;
		padding-bottom: 28px;
	}
	.event-item-img-wrap {
		height: 33.4vw;
	}
	.first-items-wide .event-item:nth-child(1) .event-item-img-wrap,
	.first-items-wide .event-item:nth-child(2) .event-item-img-wrap {
		height: 66.7vw;
	}
	.top-banner-section {
		height: 67vw;
		max-height: none;
	}
	.top-banner-swiper {
		width: 100%;
		height: 100%;
		max-height: 100%;
		position: static;
	}
	.exhibitions-details-text {
		font-size: 18px;
		padding-top: 18px;
		padding-bottom: 0;
		line-height: 1.15;
	}
	.exhibitions-details-side {
        padding: 14px 24px;
    }
	.text-section {
		font-size: 20px;
		line-height: 1.3;
		padding: 20px 0 40px 0;
	}
	.wide-on-tablet .event-item-img-wrap {
        height: 66.7vw;
    }
	.articles2-section .article-item-title {
		font-size: 20px;
		letter-spacing: -0.4px;
		line-height: 1;
	}
	.gallery-swiper-section {
		padding: 24px;
		border-bottom: none;
	}
	.gallery-swiper-section .event-swiper-item-img-wrap {
		height: 58vw;
	}
	.gallery-item-title {
		margin: 15px 0 0 0;
		font-size: 20px;
	}
	.top-content-title {
		font-size: 38px;
		letter-spacing: -0.76px;
		line-height: 0.85;
	}
	.top-content-text {
		font-weight: 600;
		font-size: 20px;
		text-align: right;
		letter-spacing: 0;
	}
	.text-section h2,
	.text-section h3,
	.text-section h4 {
		font-size: 32px;
		margin: 0 0 9px 0;
		letter-spacing: -0.64px;
	}
	.q-btn-title {
		font-size: 24px;
		line-height: 0.9;
		letter-spacing: 0;
	}
	.paragraph-style {
		font-size: 24px;
		line-height: 1.25;
	}
	.text-section iframe.text-section-youtube,
	.text-section-youtube {
		height: 49vw;
		margin: 0;
	}
	.text-section-logos {
		margin: 24px 0 0 0;
		gap: 11px 20px;
	}
	.text-section-logos-item-img {
		max-height: 57px;
	}
	.q-ul > li .q-btn {
		padding: 19px 24px;
	}
	.faq-inner-map {
		min-height: 195px;
	}
	.price-list-wrap,
	.faq-inner-address-wrap,
	.q-text-inner {
		padding: 0 24px 57px;
	}
	.q-ul > li > .q-text {
		font-size: 18px;
		line-height: 1.15;
	}
	.cds-col {
		font-size: 18px;
	}
	.cds-col.contact-details-column {
		font-size: 20px;
	}
	.cds-col .socials-list {
		margin: 20px 0 0 0;
		gap: 32px;
	}
	.cds-col-links-wrap {
		margin: 26px 0 0 0;
	}
	.cds-col-text {
		padding: 16px 24px 24px;
	}
	.cds-col-title {
		padding: 15px 24px 0;
		font-size: 20px;
		border-bottom: none;
	}
	.cds-col-title:not(.hide-on-mobile) + .cds-col-text {
		padding-top: 4px;
		padding-bottom: 10px;
	}
	.bbr-title {
		font-size: 32px;
		letter-spacing: -0.64px;
	}
	.bbr-text {
		font-size: 18px;
		gap: 13px;
		line-height: 1.15;
	}
	.bbr-text .y-btn {
		margin-top: 5px;
	}
	.price-list-y-btn-wrap,
	.price-list-bottom-list-wrap {
		padding-top: 24px;
	}
	.event-swiper-item-title {
        font-size: 32px;
		line-height: 0.9;
		letter-spacing: -0.75px;
    }
	.event-swiper-item-text-wrap {
		font-size: 18px;
		line-height: 1.15;
	}
	.swiper-pagination {
		margin: 24px auto;
	}
	.category-item-text-wrap {
		padding: 14px 16px 10px;
	}
	.category-item-small-title {
		font-size: 15px;
		letter-spacing: 0.75px;
	}
	.category-item-date {
		font-size: 18px;
	}
	.articles-content {
		gap: 18px;
	}
	.footer-center-title {
		line-height: 0.9;
		letter-spacing: 0;
	}
	.footer-center-text {
		line-height: 1.15;
		gap: 5px;
	}
	.footer-menu a {
        padding: 15px 24px;
    }
	.mobile-text-align-right {
		text-align: right;
	}
	.mobile-text-align-center {
		text-align: center;
	}
	.mobile-text-align-left {
		text-align: left;
	}
	.top-content-text.mobile-text-align-center {
        margin-top: 13px;
    }
	.socials-list {
		gap: 21px;
    }
	.now-in-museum-section,
	.now-in-museum-content {
		min-height: 1px;
	}
	.exhibition-item-small-title {
		font-size: 15px;
		letter-spacing: 0.75px;
	}
	.exhibition-item-small-title {
		margin: 0 0 8px 0;
	}
	.exhibition-item-small-text {
		font-size: 18px;
		line-height: 1.15;
	}
	.exhibition-item-content {
        padding: 16px 16px 19px;
    }
	.box-item-title {
		padding-bottom: 15px;
		letter-spacing: 0;
	}
	.box-item-content .y-btn {
		margin: 11px 0 0 0;
	}
	.past-ex-item-title {
        font-size: 32px;
    }
	.past-ex-item-title2 {
        font-size: 20px;
    }
	.past-ex-years-list {
		padding: 16px;
	}
	.past-ex-years-list > li {
		margin: 0 4px;
	}
	.btn-past-ex-year {
		min-width: 55px;
		min-height: 40px;
		font-size: 14px;
		letter-spacing: 0.28px;
	}
	.past-ex-item-content {
        gap: 3px;
    }
	.top-banner-section + .main-title-wrap {
		border-top: 2px solid #74C2BE;
	}
	.articles2-section .articles-list > li:nth-child(odd) .article-item-a {
		border-right: none;
	}
	.articles2-section .articles-list > li:nth-child(even) .article-item-a {
		border-left: none;
	}
	.articles2-section .article-item-img-wrap {
        height: 33.4vw;
    }
	.articles2-section .article-item-content {
		min-height: 115px;
		padding-top: 11px;
	}
	.articles2-section .tags-list {
		margin: 13px 0 0 0;
	}
	.staff-item {
        padding: 20px 23px 43px;
        gap: 12px;
		line-height: 1.15;
	}
	.staff-item-title {
		letter-spacing: -0.64px;
	}
	.staff-item-list > li {
		padding: 3px 0;
	}
	.newsletter-register-thanks-msg {
		min-height: 117px;
	}
	.header-links-menu {
		order: 2;
		margin: 0;
	}
	#page-nav {
		order: 3;
		border-top: 2px solid #fff;
		margin-top: 16px;
	}
	.event-swiper-item-img-wrap {
		height: 49vh;
		max-height: -webkit-calc(100vw - 48px);
		max-height: calc(100vw - 48px);
	}
	.category-item.active:last-child .category-item-btn .category-item-text-wrap,
	.category-item.active .category-item-btn .category-item-text-wrap {
		padding: 0 0 16px 0;
	}
	.category-item.active:last-child .category-item-btn,
	.category-item.active .category-item-btn {
		padding-bottom: -webkit-calc(91vw + 16px);
		padding-bottom: calc(91vw + 16px);
	}
	.category-item.active .category-item-btn .category-item-img-wrap {
        height: 91vw;
	}
	.mobile-header-tickets-btn {
		position: absolute;
	}
}
@media all and (max-width: 599px) {
	#page-header {
		width: 100%;
	}
	#top-search-wrap {
		width: 100%;
		right: 0;
		z-index: 11;
	}
	.logos-list li {
		width: -webkit-calc(25% - 15px);
		width: calc(25% - 15px);
	}
	.text-section-logos > li {
		min-width: -webkit-calc(25% - 15px);
		min-width: calc(25% - 15px);
	}
	.price-list,
	.price-list thead,
	.price-list tbody,
	.price-list tr,
	.price-list th,
	.price-list td {
		display: block;
		border: none;
		font-size: 18px;
	}
	.price-list tr:not(.separator) {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		border-top: 2px solid #E6F2F2;
	}
	.price-list tr:not(.separator) th:empty,
	.price-list tr:not(.separator) td:empty {
		display: none !important;
	}
	.price-list .price-item-price {
		margin-right: auto;
		padding-left: 0;
	}
	.price-list .price-item-notes {
		width: 100%;
		font-size: 14px;
		padding-top: 0;
		letter-spacing: 0.28px;
	}
	.price-list th,
	.price-list td {
		padding-top: 10px;
		padding-bottom: 6px;
	}
}
@media all and (max-width: 479px) {
	#wp-admin-bar-root-default > li:nth-child(8) ~ li {
		display: none !important;
	}
	.logos-list li {
		width: -webkit-calc(33.333% - 14px);
		width: calc(33.333% - 14px);
	}
	.past-ex-item {
		width: 100%;
	}
	.past-ex-item-img-wrap {
        height: 67vw;
    }
	.text-section-logos > li {
		min-width: -webkit-calc(33.333% - 14px);
		min-width: calc(33.333% - 14px);
	}
	.past-ex-item-a {
		border-left: none;
	}
}